<%= form_with model: @audit_type, local: true do |form| %>


  <% if @audit_type.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@audit_type.errors.count, t('errors.error')) %> 
        <%= t('errors.prohibited_audit_type') %>
      </h2>
      <ul>
        <% @audit_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :name %><br>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  
  <% if current_page?(new_audit_type_path)%>
    <%= form.submit t('navigation.save', model: AuditType.model_name.human), class: "btn btn-primary" %>
  <% else %>
    <%= form.submit t('navigation.save', model: AuditType.model_name.human), class: "btn btn-primary" %>
    <% if policy(@audit_type).destroy? %>
    <% if @audit_type.id? %>
      <span  class="float-right"><%= link_to t('navigation.delete'), audit_type_path(@audit_type),
                method: :delete,
                data: { confirm: t('warnings.are_you_sure') }, class: "btn btn-danger" %></span>
    <% end %>
    <% end %>
  <% end %>
  <%= link_to t('navigation.cancel'), audit_types_path, class: "btn btn-secondary" %>
 
<% end %>
