<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('navigation.audit_types') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th><%=t('activerecord.attributes.audit_type.name') %></th>
            
            <th>
              <% if policy(Organization).create? %>
                <span  class="float-right"><%= link_to t('audit_type.add'), new_audit_type_path, class: "btn btn-success btn-sm" %></span>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
        <% @audit_types.each do |at| %>
          <tr>
            <td><%= at.name %></td>        
            <td>
              <% if policy(at).update? %>
                <span  class="float-right"><%= link_to t('navigation.edit'), edit_audit_type_path(at), class: "btn btn-primary btn-sm" %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>