<tr>
  <td>
    <%= link_to evidence.title, audit_report_evidence_path(evidence.audit_report, evidence) %>
  </td>

  <td>
    <% if policy(evidence).update? %>
      <span class="float-right"><%= link_to t('navigation.edit'), edit_audit_report_evidence_path(evidence.audit_report, evidence), class: "btn btn-primary btn-sm" %></span>
    <% end %>
  </td>
</tr>