<%= form_with(model: [ @audit_report, @evidence ], local: true) do |form| %>
  <% if @evidence.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@evidence.errors.count, t('errors.error')) %> 
        <%= t('errors.prohibited_evidence') %>
      </h2>
      <ul>
        <% @evidence.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :title %><br>
      <%= form.text_area :title, class: "form-control" %>
    </div>
  </div>


  <% if current_page?(new_audit_report_evidence_path(@audit_report))%>
    <%= form.submit t('navigation.save', model: Evidence.model_name.human), class: "btn btn-primary" %>
  <% else %>
    <%= form.submit t('navigation.save', model: Evidence.model_name.human), class: "btn btn-primary" %>
    <% if policy(@evidence).destroy? %>
      <span class="float-right"><%= link_to t('navigation.delete'), [@evidence.audit_report, @evidence],
              method: :delete,
              data: { confirm: t('warnings.are_you_sure') }, class: "btn btn-danger" %></span>
    <% end %>
  <% end %>
  <%= link_to t('navigation.back'), audit_report_path(@audit_report), class: "btn btn-secondary" %>

<% end %>