<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @evidence.audit_report.title %> - <%= t('evidence.show') %></h5>
    <p>
    <strong><%=t('activerecord.attributes.evidence.title') %>:</strong>
    <%= @evidence.title %>
    </p>
  
    <% if policy(@evidence).update? %>
      <%= link_to t('navigation.edit'), edit_audit_report_evidence_path(@audit_report, @evidence), class: "btn btn-primary"  %>
    <% end %>
    <%= link_to t('navigation.back'), audit_report_path(@audit_report), class: "btn btn-secondary" %>
  </div>
</div>

<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('recommendation.list') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <!--<th></th>-->
            <th><%=t('activerecord.attributes.recommendation.title') %></th>
            <th><%=t('activerecord.attributes.recommendation.cost') %></th>
            <th><%=t('activerecord.attributes.recommendation.recovered') %></th>
            <th><%=t('activerecord.attributes.recommendation.status') %></th>
            <th>
              <% if policy(@recommendation).create? %>
                <span class="float-right"><%= link_to t('recommendation.add'), new_audit_report_recommendation_path(@audit_report), class: "btn btn-success btn-sm" %></span>
              <% end %> 
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @evidence.recommendations %>
        </tbody>
      </table>
    </div>
  </div>
</div>