<%= form_with(model: [ @audit_report, @recommendation ], local: true) do |form| %>
  <% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recommendation.errors.count, t('errors.error')) %> 
        <%= t('errors.prohibited_recommendation') %>
      </h2>
      <ul>
        <% @recommendation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :title %><span class="text-danger">*</span><br>
      <%= form.text_area :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :text %><br>
      <%= form.text_field :text, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
      <%= form.label  :categories %><br>
      <%= form.collection_select(:category_ids, Category.arrange_as_array, :id, :name_for_selects, {}, { class: "chosen-select", multiple: true }) %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :cost %><br>
      <%= form.number_field :cost, class: "form-control", step: :any %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :recovered %><br>
      <%= form.number_field :recovered, class: "form-control", step: :any %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :status %><br>
      <%= form.collection_select :recommendation_status_id, RecommendationStatus.order(:name),:id,:name, {}, { :class => "form-control" } %>
    </div>
  </div>

    <div class="form-group">
      <%= form.label  :evidence %><br>
      <%= form.collection_select :evidence_id, @audit_report.evidences,:id,:title, {prompt: t('activerecord.attributes.recommendation.evidence')}, { :class => "form-control" } %>
    </div>


  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :response %><br>
      <%= form.text_area :response, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :justification %><br>
      <%= form.text_area :justification, class: "form-control" %>
    </div>
  </div>

  <% if current_page?(new_audit_report_recommendation_path(@audit_report))%>
    <%= form.submit t('recommendation.save', model: Recommendation.model_name.human), class: "btn btn-primary" %>
  <% else %>
    <%= form.submit t('recommendation.save', model: Recommendation.model_name.human), class: "btn btn-primary" %>
    <% if policy(@recommendation).destroy? %>
      <span class="float-right"><%= link_to t('navigation.delete'), [@recommendation.audit_report, @recommendation],
              method: :delete,
              data: { confirm: t('warnings.are_you_sure') }, class: "btn btn-danger" %></span>
    <% end %>
  <% end %>
  <%= link_to t('navigation.back'), audit_report_path(@audit_report), class: "btn btn-secondary" %>

<% end %>
