<tr>
  <td>
    <%= link_to recommendation.title, audit_report_recommendation_path(recommendation.audit_report, recommendation) %>
  </td>
  <td>
    <%= recommendation.cost %>
  </td>
  <td>
    <%= recommendation.recovered %>
  </td>
  <td>
    <%= recommendation.recommendation_status.name %>
  </td>
  <td>
    <% if policy(recommendation).update? %>
      <span class="float-right"><%= link_to t('navigation.edit'), edit_audit_report_recommendation_path(recommendation.audit_report, recommendation), class: "btn btn-primary btn-sm" %></span>
    <% end %>
  </td>
</tr>