
<% 
  titre=""
  annexe=""
  total="Total des recommendations "
  statut=RecommendationStatus.where(id:params[:status]).first 
  if defined?(statut.name)
    case statut.name
      when "Exécutée"
        titre="Liste recommandations entièrement exécutées  par tutelle"
        annexe="ANNEXE II"
        total="Total recommandations  exécutées : "
      when "Non Exécutée"
        titre="Liste recommandations non exécutées  par tutelle"
        annexe="ANNEXE IV"
        total="Total recommandations non exécutées : "
      when "Non Parvenu"
        titre="Liste des recommandations dont l'état de mise en oeuvre n'est pas indiqué dans le rapport de suivi"
        annexe="ANNEXE I"
        total="Total de recommandations dont la situation d'exécution n'a pas été fournie au CGSP : "
      when "En Cours"
        titre="Liste recommandations en cours d'exécution par tutelle"
        annexe="ANNEXE III"
        total="Total recommandations  en cours d'exécution : "
      else
    end
  end
%>
<p style="margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>
<div class="card">
  <div class="card-body">
  <div class="text-right">
	<button class="btn btn-success" onclick="export_to_word()">Télécharger le rapport</button>
</div>
<div id="docx">
<style>
  
    .normal {
        font-family:"Calibri",sans-serif; 
        line-height:107%;
        font-size:12.0pt;
        mso-ascii-font-family:Calibri;
        mso-ascii-theme-font:minor-latin;
    }

    @page portrait_A4_page  {
        size:595.3pt 841.9pt;
        margin:72.0pt 72.0pt 72.0pt 72.0pt;
        mso-header-margin:35.4pt;
        mso-footer-margin:35.4pt;
        mso-paper-source:0;
    }

    div.portrait_A4_page { page:portrait_A4_page; }

    @page landscape_A4_page {
        size:841.9pt 595.3pt;
        mso-page-orientation:landscape;
        margin:72.0pt 72.0pt 72.0pt 72.0pt;
        mso-header-margin:35.45pt;
        mso-footer-margin:35.45pt;
        mso-paper-source:0;
    }

    div.landscape_A4_page { page:landscape_A4_page; }

</style>
<div class=portrait_A4_page>
  <span class=normal>
  <p style="margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>
<table style="page-break-before: auto;" width="100%" cellspacing="0" cellpadding="0" border="1px">
<tbody>
<tr valign="top">
<td style="border: none; padding: 0cm;" width="50%">
<p align="center"><span style="font-size: 18px"><strong>Primature</strong></span></p>
</td>
<td style="border: none; padding: 0cm;" width="50%">
<p align="center"><span style="font-size: 18px;"><strong>R&eacute;publique du Mali</strong></span></p>
<p align="center">&nbsp;</p>
</td>
</tr>
<tr valign="top">
<td style="border: none; padding: 0cm;" width="50%">
<p align="center">**********************</p>
</td>
<td style="border: none; padding: 0cm;" width="50%">
<p align="center"><span style="font-size:18px;"><strong>Un Peuple &ndash; Un But &ndash; Une Foi</strong></span></p>
</td>
</tr>
</tbody>
</table>
    <h1 style="color:darkblue;text-align:center;font-weight:bold"><%=annexe%></h1><br><br>
    <h1 style="color:darkblue;text-align:center;font-weight:bold"><%=titre%></h1><br><br>

<%tab_ministere={}
    @recommendations.each do |r| 
      tab_ministere[r.audit_report.verified_organization.ministry.id]=r.audit_report.verified_organization.ministry.name
    end
%>
    
<% 
tab_tutelle={}
  @recommendations.each do |recommendation| 
    tab_tutelle[recommendation.audit_report.verified_organization.id]=recommendation.audit_report.verified_organization.name
  end
%>
  <h4><span style="font-family: sans-serif; color: darkblue;font-weight:bold">Total des rapports : <%= @counts[:audit_report_count] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%=total%><%=@recommendations.count%></span></h4>
<% tab_ministere.each do |k,v|%>
  <h4><span style="font-family: sans-serif; color: darkblue;font-weight:bold">Tutelle :</span> <%=v%></h4>
 <br/><% tab_tutelle.each do |i,j|
  t=Organization.where('id':i).first
  if t.ministry_id==k%>
<table border="1" style="page-break-before: auto; page-break-inside: auto;border:1px solid black;" width="643" cellspacing="0" cellpadding="4"><colgroup><col width="55" /> <col width="68" /> <col width="105" /> <col width="381" /> </colgroup>
<tbody>
<tr valign="top">
<td style="background: transparent;" width="55">
<p style="font-style: normal; text-decoration: none;" align="left"><span style="color: darkblue;"><span style="font-family: Liberation Serif, serif;"><span style="font-size: medium;"><strong><span style="text-decoration: none; font-weight:bold">N&deg; Ordre</span></strong></span></span></span></p>
</td>
<td style="background: transparent;" width="68">
<p style="font-style: normal; text-decoration: none;" align="left"><span style="color: darkblue;"><span style="font-family: Liberation Serif, serif;"><span style="font-size: medium;"><strong><span style="text-decoration: none;font-weight:bold">Ann&eacute;e rapport </span></strong></span></span></span></p>
</td>
<td style="background: transparent;" width="105">
<p style="font-style: normal; text-decoration: none;" align="left"><span style="color: darkblue;"><span style="font-family: Liberation Serif, serif;"><span style="font-size: medium;"><strong><span style="text-decoration: none;font-weight:bold">Structure de contr&ocirc;le</span></strong></span></span></span></p>
</td>
<td style="background: transparent;" width="381">
<p style="font-style: normal; text-decoration: none;" align="left"><span style="color: darkblue;"><span style="font-family: Liberation Serif, serif;"><span style="font-size: medium;"><strong><span style="text-decoration: none;font-weight:bold">Recommandations</span></strong></span></span></span></p>
</td>
</tr>
<tr>
<td style="background: transparent;" colspan="4" valign="top" width="633">
<p style="font-style: normal; text-decoration: none;" align="left"><span style="color: darkblue;"><span style="font-family: Liberation Serif, serif;"><span style="font-size: medium;"><strong><span style="text-decoration: none;font-weight:bold">Entit&eacute; v&eacute;rifi&eacute;es :</span><%=j%></strong></span></span></span></p>
</td>
</tr>
<%
     cp=0
    @recommendations.each do |r|
      if r.audit_report.verified_organization.id==i
     cp+=1
 %>
<tr valign="top">
<td style="background: transparent;" width="55">
<p style="font-style: normal; font-weight: normal; text-decoration: none;" align="left"><%=cp%></p>
</td>
<td style="background: transparent;" width="68">
<p style="font-style: normal; font-weight: normal; text-decoration: none;" align="left"><%=params[:year]%></p>
</td>
<td style="background: transparent;" width="105">
<p style="font-style: normal; font-weight: normal; text-decoration: none;"" align="left"><%=r.audit_report.verified_organization.name%></p>
</td>
<td style="background: transparent;" width="381">
<p style="font-style: normal; font-weight: normal; text-decoration: none;" align="left"><%= r.title%></p>
</td>
</tr>
    <% 
    end
    end
  %>
</tbody>
</table><br>
 <% end 
    end
    end
  %>
  </span>
  </div>
  </div>