<div class="card">
  <div class="card-body">
  <span class="float-right"><%= link_to t('recommendation.add'), new_audit_report_recommendation_path(@audit_report), class: "btn btn-success btn-sm" %></span>
    <h5 class="card-title"><%= t('recommendation.edit') %></h5>
    <%= render 'form' %>
  </div>
</div>