<%
  statut_non_parvenu=RecommendationStatus.where(name:'Non Parvenu').first
  stnp=statut_non_parvenu.id
  statut_execute=RecommendationStatus.where(name:'Exécutée').first
  stexec=statut_execute.id
  statut_non_execute=RecommendationStatus.where(name:'Non Exécutée').first
  st_n_exec= statut_non_execute.id
  status_encours=RecommendationStatus.where(name:'En Cours').first
  st_encours=status_encours.id
  

%>
<div class="card">
  <div class="card-body">
    <%= render "filters" %>
  </div>
</div>
<br />
<div class="card">
  <div class="card-body">
  
    <h5 class="card-title"><%= t('recommendation.list') %></h5>
  <div class="text-right">
  <%if @recommendations%>
  <% if policy(@recommendations).export_csv? %>
                  <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Générer
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li>      <a class="text text-dark" href=<%="/recommendations/rapport/?year="+params[:year].to_s+"&status="+params[:status].to_s%>><%="Générer le  rapport"%></a></li>
                      <li><a class="text text-dark" href="annexe?utf8=✓&user=<%=params[:user]%>&sensitivity=<%=params[:sensitivity]%>&report=<%=params[:report]%>&control=<%=params[:control]%>&verified=<%=params[:verified]%>&ministry=<%=params[:ministry]%>&year=<%=params[:year]%>&status=<%=stnp%>">Liste des recommandations non parvenue</a></li>
                      <li><a class="text text-dark"  href="annexe?utf8=✓&user=<%=params[:user]%>&sensitivity=<%=params[:sensitivity]%>&report=<%=params[:report]%>&control=<%=params[:control]%>&verified=<%=params[:verified]%>&ministry=<%=params[:ministry]%>&year=<%=params[:year]%>&status=<%=stexec%>">Liste des recommandations exécutées</a></li>
                      <li><a class="text text-dark" href="annexe?utf8=✓&user=<%=params[:user]%>&sensitivity=<%=params[:sensitivity]%>&report=<%=params[:report]%>&control=<%=params[:control]%>&verified=<%=params[:verified]%>&ministry=<%=params[:ministry]%>&year=<%=params[:year]%>&status=<%=st_n_exec%>">Liste des recommandations non exécutées</a></li>
                      <li><a class="text text-dark" href="annexe?utf8=✓&user=<%=params[:user]%>&sensitivity=<%=params[:sensitivity]%>&report=<%=params[:report]%>&control=<%=params[:control]%>&verified=<%=params[:verified]%>&ministry=<%=params[:ministry]%>&year=<%=params[:year]%>&status=<%=st_encours%>">Liste des recommandations en cours d'exécutions</a></li>
                      <li><a class="text text-dark" href=<%="/recommendations/export?year="+params[:year].to_s+"&user="+params[:user].to_s+"&control="+params[:control].to_s+"&verified="+params[:verified].to_s+"&sensitivity="+params[:sensitivity].to_s%>><%=t('reports.export') %></a></li>
                    </ul>
                  </div>
      <% end %>
      <% end %>
      </div><br>
    <div class="table-responsive">
      <table class="table table-striped table-sm" id="auditReportsList">
        <thead>
          <tr>
            <th><%=t('activerecord.attributes.recommendation.title') %></th>
            <th><%=t('activerecord.attributes.audit_report.control_organization') %></th>
            <th><%=t('activerecord.attributes.audit_report.verified_organization') %></th>
            <th><%=t('activerecord.attributes.ministry.name') %></th>
            <th><%=t('activerecord.attributes.recommendation.cost') %></th>
            <th><%=t('activerecord.attributes.recommendation.recovered') %></th>
            <th><%=t('activerecord.attributes.recommendation.status') %></th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
        <% if @recommendations%>
        <% @recommendations.each do |recommendation| %>
          <tr>
            <td>
              <%= link_to recommendation.title, audit_report_recommendation_path(recommendation.audit_report, recommendation) %>
            </td>
            <td>
              <%= recommendation.audit_report.control_organization.name %>
            </td>
            <td>
              <%= recommendation.audit_report.verified_organization.name %>
            </td>
            <td>
              <%= recommendation.audit_report.verified_organization.ministry.name %>
            </td>
            <td>
              <%= recommendation.cost %>
            </td>
            <td>
              <%= recommendation.recovered %>
            </td>
            <td>
              <%= recommendation.recommendation_status.name %>
            </td>
            <td>
              <% if policy(recommendation).update? %>
                <span class="float-right"><%= link_to t('navigation.edit'), edit_audit_report_recommendation_path(recommendation.audit_report, recommendation), class: "btn btn-primary btn-sm" %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
