<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @recommendation.audit_report.title %> - <%= t('recommendation.show') %></h5>
    <p>
    <strong><%=t('activerecord.attributes.recommendation.title') %>:</strong>
    <%= @recommendation.title %>
    </p>
    <p>
    <strong><%=t('activerecord.attributes.recommendation.text') %>:</strong>
    <%= @recommendation.text %>
    </p>
    <p>
    <strong><%=t('activerecord.attributes.recommendation.reason') %>:</strong>
    <%= @recommendation.reason %>
    </p>
    <p>
    <strong><%=t('activerecord.attributes.recommendation.justification') %>:</strong>
    <%= @recommendation.justification %>
    </p>
    <p>
    <strong><%=t('activerecord.attributes.recommendation.response') %>:</strong>
    <%= @recommendation.response %>
    </p>
    <p>
    <strong><%=t('activerecord.attributes.recommendation.cost') %>:</strong>
    <%= @recommendation.cost %>
    </p>
    <p>
    <strong><%=t("activerecord.attributes.recommendation.recovered") %>:</strong>
    <%= @recommendation.recovered %>
    </p>
    <p>
    <strong><%=t('activerecord.attributes.recommendation.status') %>:</strong>
    <%= @recommendation.recommendation_status.name %>
    </p>
    <p>
    <strong><%=t("activerecord.attributes.recommendation.categories") %>:</strong>
    <% @recommendation.categories.each_with_index do |r,i| %>
      <%= r.name %><% if i != @recommendation.categories.size - 1 %>, <% end %>
    <% end %>
    </p>

    <% if policy(@recommendation).update? %>
      <%= link_to t('navigation.edit'), edit_audit_report_recommendation_path(@audit_report, @recommendation), class: "btn btn-primary"  %>
    <% end %>
    <%= link_to t('navigation.back'), audit_report_path(@audit_report), class: "btn btn-secondary" %>
  </div>
</div>