<%= form_tag audit_reports_path, :method => :get do %>
  <div class="form-row">
    <div class="form-group col-md-2">
      <% if !current_user.user? %>
        <%= label_tag  t('activerecord.attributes.audit_report.user') %><br>
        <%= select_tag "user", options_for_select(@users.collect{ |u| [u.first_name+" "+u.last_name, u.id] }, params[:user]), include_blank: t('navigation.all'), class: "form-control selectpicker", "data-live-search" => "true" %>
      <% end %>
    </div>
    <div class="form-group col-md-2">
      <%= label_tag  t('activerecord.attributes.audit_report.control_organization') %><br>
      <%= select_tag "control", options_for_select(Organization.control().to_option_values, params[:control]), include_blank: t('navigation.all'), class: 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= label_tag  t('activerecord.models.ministry') %><br>
      <%= select_tag "ministry", options_for_select(Ministry.to_option_values, params[:ministry]), include_blank: t('navigation.all'), class: 'form-control' %>
    </div>
     <div class="form-group col-md-2">
      <%= label_tag  t('activerecord.attributes.audit_report.verified_organization') %><br>
      <%= select_tag "verified", options_for_select(Organization.verified().to_option_values, params[:verified]), include_blank: t('navigation.all'), class: 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= label_tag  t('activerecord.attributes.audit_report.year') %><br>
      <%= select_tag "year", options_for_select(Time.new.year-5..Time.new.year+5, params[:year]), include_blank: t('navigation.all'), class: 'form-control' %>
    </div>
    <div class="form-group col-md-1">
      <%= label_tag  t('navigation.filter') %><br>

      <button class='btn btn-primary form-control'>
        <i class="fa fa-filter"></i>
      </button>
    </div>
  </div>

<% end %>
