<%= form_with model: @audit_report, local: true do |form| %>


  <% if @audit_report.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@audit_report.errors.count, t('errors.error')) %> 
        <%= t('errors.prohibited_audit_report') %>
      </h2>
      <ul>
        <% @audit_report.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label  :title %><span class="text-danger">*</span><br>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label  :recipient %><br>
      <%= form.text_field :recipient, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :text %><br>
      <%= form.text_area :text, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.label :year %><span class="text-danger">*</span><br>
      <%= form.select :year, (Time.new.year-5..Time.new.year+5), {:selected => Time.new.year}, { :class => "form-control" } %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :period %><br>
      <%= form.select :period, (1..20), {}, { :class => "form-control" } %>
    </div>
    <div class="form-group col-md-4">
      <%= form.label :audit_type %><br>
      <%= form.collection_select :audit_type_id, AuditType.order(:name),:id,:name, {}, { :class => "form-control" } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :control_organization %><span class="text-danger">*</span><br>
      <%= form.collection_select :control_organization_id, Organization.control().order(:name),:id,:name_with_abbreviation, {}, { :class => "form-control" } %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :verified_organization %><br>
      <%= form.collection_select :verified_organization_id, Organization.verified().order(:name),:id,:name_with_abbreviation, {}, { :class => "form-control" } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <%= form.label  :arrival_date %><br>
      <div class="input-group date datepicker" id="arrival_date" data-target-input="nearest">
        <%= form.text_field :arrival_date, {class: "form-control datetimepicker-input", 'data-target': "#arrival_date"} %>
        <div class="input-group-append" data-target="#arrival_date" data-toggle="datetimepicker">
             <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>
    <div class="form-group col-md-3">
      <%= form.label  :assignment_date %><br>
      <div class="input-group date datepicker" id="assignment_date" data-target-input="nearest">
        <%= form.text_field :assignment_date, {class: "form-control datetimepicker-input", 'data-target': "#assignment_date"} %>
        <div class="input-group-append" data-target="#assignment_date" data-toggle="datetimepicker">
             <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>
    <div class="form-group col-md-3">
      <%= form.label  :received_date %><br>
      <div class="input-group date datepicker" id="received_date" data-target-input="nearest">
        <%= form.text_field :received_date, {class: "form-control datetimepicker-input", 'data-target': "#received_date"} %>
        <div class="input-group-append" data-target="#received_date" data-toggle="datetimepicker">
             <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>
    <div class="form-group col-md-3">
      <%= form.label  :confirmation_date %><br>
      <div class="input-group date datepicker" id="confirmation_date" data-target-input="nearest">
        <%= form.text_field :confirmation_date, {class: "form-control datetimepicker-input", 'data-target': "#confirmation_date"} %>
        <div class="input-group-append" data-target="#confirmation_date" data-toggle="datetimepicker">
             <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    
    <div class="form-group col-md-6">
      <%= form.label :user %><br>
      <%= form.collection_select :user_id, User.order(:email),:id,:email, {}, { :class => "form-control" } %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :sensitivity %><br>
      <%= form.select :sensitivity, options_for_select(localized_sensitivities, @audit_report.sensitivity), {}, { :class => "form-control" } %>
    </div>
  </div>

  <div class="form-row">
    
    <div class="form-group col-md-12">
      <%= form.label :reports %><br>
     <!-- <% @audit_report.reports.each do |r| %>
        <%= hidden_field :audit_report, :reports, multiple: true, value: r.identifier %>
      <% end %> -->
      <%= form.file_field :reports, multiple: true %>
    </div>
  </div>
  
  
  <% if current_page?(new_audit_report_path) || @audit_report.id == nil %>
    <%= form.submit t('helpers.submit.create', model: AuditReport.model_name.human), class: "btn btn-primary", id: "createAuditReport", name: "commit", value:"Save" %>
    <%= link_to t('navigation.cancel'), audit_reports_path, class: "btn btn-secondary" %>
  <% else %>
    <%= form.submit t('helpers.submit.update', model: AuditReport.model_name.human), class: "btn btn-primary", name: "commit", value:"Save" %>
    <%= link_to t('navigation.back'), audit_report_path(@audit_report), class: "btn btn-secondary" %>
  <% end %>
 
<% end %>
