
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('audit_report.edit') %></h5>
    <% if policy(AuditReport).create? %>
    <span  class="float-right"><%= link_to t('audit_report.new'), new_audit_report_path, class: "btn btn-lg btn-success btn-sm", id: "addAuditReport" %></span>
<% end %>
    <%= react_component('AuditReportForm', 
          {auditReport: @audit_report, 
          authenticityToken: form_authenticity_token, 
          labels: @labels}) %>

    <% if policy(@audit_report).destroy? %>
      <span  class="float-right"><%= link_to t('navigation.delete'), audit_report_path(@audit_report),
                method: :delete,
                data: { confirm: t('warnings.are_you_sure') }, class: "btn btn-danger" %></span>
    <% end %>
  </div>
   
</div>
