<div class="card">
  <div class="card-body">
    <%= render "filters" %>
  </div>
</div>
<br />
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('audit_report.list') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm" id="auditReportsList">
        <thead>
          <tr>
            <th><%=t('activerecord.attributes.audit_report.title') %></th>
            <th><%=t('activerecord.attributes.audit_report.control_organization') %></th>
            <th><%=t('activerecord.models.ministry') %></th>
            <th><%=t('activerecord.attributes.audit_report.verified_organization') %></th>
            <th><%=t('activerecord.attributes.audit_report.year') %></th>
            <th><%=t('activerecord.attributes.audit_report.sensitivity') %></th>
            <th><%=t('activerecord.attributes.audit_report.audit_type') %></th>
            <th>
              <% if policy(AuditReport).create? %>
                <span  class="float-right"><%= link_to t('audit_report.new'), new_audit_report_path, class: "btn btn-success btn-sm", id: "addAuditReport" %></span>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
        <% if @audit_reports%>
        <% @audit_reports.each do |ar| %>
          <tr>
            <td><%= link_to ar.title, audit_report_path(ar) %></td>
            <td><i class="fa fa-search" data-toggle="tooltip" data-placement="right"  title="<%= ar.control_organization.name %>"></i> <%= ar.control_organization.abbreviation %></td>
            <td><i class="fa fa-search" data-toggle="tooltip" data-placement="right"  title="<%= ar.verified_organization.ministry.name %>"></i> <%= ar.verified_organization.ministry.abbreviation %></td>
            <td><i class="fa fa-search" data-toggle="tooltip" data-placement="right"  title="<%= ar.verified_organization.name %>"></i> <%= ar.verified_organization.abbreviation %></td>
            <td><%= ar.year %></td>
            <td><%= AuditReport.human_attribute_name("sensitivity.#{ar.sensitivity}")  %></td>
            <td><%= ar.audit_type.name %></td>
            <td>
              <% if policy(ar).update? %>
                <span  class="float-right"><%= link_to t('navigation.edit'), edit_audit_report_path(ar), class: "btn btn-primary btn-sm" %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>
    </div>


 <% if policy(AuditReport).create? %>
<h2>Importer des rapports</h2>

<%= form_tag import_audit_reports_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<% end %>

  </div>
</div>

  </div>
</div>
<br>
