<div class="card">
  <div class="card-body">
  <% if policy(AuditReport).create? %>
      <div class="float-right">
            <%= link_to t('audit_report.new'), new_audit_report_path, class: "btn btn-success btn-sm", id: "addAuditReport" %></span>
      </div>
  <% end %>
    <h5 class="card-title"><%= t('audit_report.new') %></h5>
    <%= react_component('AuditReportForm', 
          {auditReport: @audit_report, 
          authenticityToken: form_authenticity_token, 
          labels: @labels}) %>
  </div>
</div>