<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('audit_report.show') %></h5>

    <dl class="row">
      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.title') %></dt>
      <dd class="col-sm-9"><%= @audit_report.title %>&nbsp;</dd>

      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.recipient') %></dt>
      <dd class="col-sm-9"><%= @audit_report.recipient %>&nbsp;</dd>

      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.text') %></dt>
      <dd class="col-sm-9"><%= @audit_report.text %>&nbsp;</dd>

      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.year') %></dt>
      <dd class="col-sm-3"><%= @audit_report.year %>&nbsp;</dd>
      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.period') %></dt>
      <dd class="col-sm-3"><%= @audit_report.period %>&nbsp;</dd>

      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.audit_type') %></dt>
      <dd class="col-sm-9"><%= @audit_report.audit_type.name %>&nbsp;</dd>

      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.control_organization') %></dt>
      <dd class="col-sm-9"><%= @audit_report.control_organization.name %>&nbsp;</dd>

      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.verified_organization') %></dt>
      <dd class="col-sm-9"><%= @audit_report.verified_organization.name %>&nbsp;</dd>

      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.arrival_date') %></dt>
      <dd class="col-sm-3"><%= @audit_report.arrival_date %>&nbsp;</dd>
      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.assignment_date') %></dt>
      <dd class="col-sm-3"><%= @audit_report.assignment_date %>&nbsp;</dd>

      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.received_date') %></dt>
      <dd class="col-sm-3"><%= @audit_report.received_date %>&nbsp;</dd>
      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.confirmation_date') %></dt>
      <dd class="col-sm-3"><%= @audit_report.confirmation_date %>&nbsp;</dd>

      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.completion_date') %></dt>
      <dd class="col-sm-9"><%= @audit_report.completion_date %>&nbsp;</dd>

      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.user') %></dt>
      <dd class="col-sm-9"><%= @audit_report.user.email %>&nbsp;</dd>

      <dt class="col-sm-3"><%=t('activerecord.attributes.audit_report.sensitivity') %></dt>
      <dd class="col-sm-9"><%= AuditReport.human_attribute_name("sensitivity.#{@audit_report.sensitivity}")  %>&nbsp;</dd>

    </dl>

    <% if policy(@audit_report).update? %>
      <%= link_to t('navigation.edit'), edit_audit_report_path(@audit_report), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<br/>

<% if @audit_report.reports.length > 0 %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%=t('activerecord.attributes.audit_report.reports') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <tbody>
          <% @audit_report.reports.each do |r| %>
            <tr><td><%= link_to r.identifier, r.url, target: :_blank %></td></tr>
          <% end %>
          
        </tbody>
      </table>
    </div>
  </div>
</div>

<br/>
<% end %>
<br/>
<div class="card">
  <div class="card-body"><% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recommendation.errors.count, t('errors.error')) %> 
        <%= t('errors.prohibited_recommendation') %>
      </h2>
      <ul>
        <% @recommendation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <h5 class="card-title" data-toggle="tooltip"><%= t('activerecord.attributes.import.title_recommandation')%></h5>
        <%= form_with(url: {action: :import}, multipart: true) do %>
            <%= file_field_tag 'file' %>
            <%= hidden_field_tag :id, params[:id]%>
            <%= hidden_field_tag :type, 'recommandation'%>
            <%= submit_tag t('activerecord.attributes.import.bouton'),class: "btn btn-success" %>
        <% end %>
    </div>

</div>
<br/>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('recommendation.list') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <!--<th></th>-->
            <th><%=t('activerecord.attributes.recommendation.title') %></th>
            <th><%=t('activerecord.attributes.recommendation.cost') %></th>
            <th><%=t('activerecord.attributes.recommendation.recovered') %></th>
            <th><%=t('activerecord.attributes.recommendation.status') %></th>
            <th>
              <% if policy(@recommendation).create? %>
                <span class="float-right"><%= link_to t('recommendation.add'), new_audit_report_recommendation_path(@audit_report), class: "btn btn-success btn-sm" %></span>
              <% end %> 
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @audit_report.recommendations %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br/>
<br/>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('activerecord.attributes.import.title_evidence')%></h5>
        <%= form_with(url: {action: :import}, multipart: true) do %>
            <%= file_field_tag 'file' %>
            <%= hidden_field_tag :id, params[:id]%>
            <%= hidden_field_tag :type, 'evidence'%>
            <%= submit_tag t('activerecord.attributes.import.bouton'),class: "btn btn-success" %>
        <% end %>
    </div>
</div>
<br/>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('evidence.list') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <!--<th></th>-->
            <th><%=t('activerecord.attributes.evidence.title') %></th>
            <th>
              <% if policy(@evidence).create? %>
                <span class="float-right"><%= link_to t('evidence.add'), new_audit_report_evidence_path(@audit_report), class: "btn btn-success btn-sm" %></span>
              <% end %> 
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @audit_report.evidences %>
        </tbody>
      </table>
    </div>
  </div>
</div>


