<%= form_with model: @recommendation_status, local: true do |form| %>


  <% if @recommendation_status.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recommendation_status.errors.count, t('errors.error')) %> 
        <%= t('errors.prohibited_recommendation_status') %>
      </h2>
      <ul>
        <% @recommendation_status.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :name %><br>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  
  <% if current_page?(new_recommendation_status_path)%>
    <%= form.submit t('navigation.save', model: RecommendationStatus.model_name.human), class: "btn btn-primary" %>
  <% else %>
    <%= form.submit t('navigation.save', model: RecommendationStatus.model_name.human), class: "btn btn-primary" %>
    <% if policy(@recommendation_status).destroy? %>
    <% if @recommendation_status.id? %>
      <span  class="float-right"><%= link_to t('navigation.delete'), recommendation_status_path(@recommendation_status),
                method: :delete,
                data: { confirm: t('warnings.are_you_sure') }, class: "btn btn-danger" %></span>
    <% end %>
    <% end %>
  <% end %>
  <%= link_to t('navigation.cancel'), recommendation_statuses_path, class: "btn btn-secondary" %>
 
<% end %>
