<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('navigation.recommendation_statuses') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th><%=t('activerecord.attributes.recommendation_status.name') %></th>
            
            <th>
              <% if policy(RecommendationStatus).create? %>
                <span  class="float-right"><%= link_to t('recommendation_status.add'), new_recommendation_status_path, class: "btn btn-success btn-sm" %></span>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
        <% @recommendation_statuses.each do |r| %>
          <tr>
            <td><%= r.name %></td>        
            <td>
              <% if policy(r).update? %>
                <span  class="float-right"><%= link_to t('navigation.edit'), edit_recommendation_status_path(r), class: "btn btn-primary btn-sm" %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
