<%= form_with model: @user, local: true do |form| %>


  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, t('errors.error')) %> 
        <%= t('errors.prohibited_user') %>
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label  :first_name %><br>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label  :last_name %><br>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label  :email %><br>
      <%= form.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <% if current_user.admin? %>
        <%= form.label :organization %><br>
        <%= form.collection_select :organization_id, Organization.order(:name),:id,:name,{ :class => "form-control" } %>
      <% end %>
    </div>
  </div>
  <% if current_page?(new_user_path) || @user.id == nil %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= form.label  :password %><br>
        <%= form.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group col-md-6">
        <%= form.label  :password_confirmation %><br>
        <%= form.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <% unless @user == current_user %>
        <%= form.label  :role %><br>
        <%= form.select :role, options_for_select(localized_roles, @user.role), {}, { :class => "form-control" } %>
      <% end %>
    </div>
  </div>
  
  <% if current_page?(new_user_path)%>
    <%= form.submit t('navigation.save', model: User.model_name.human), class: "btn btn-primary" %>
  <% else %>
    <%= form.submit t('navigation.save', model: User.model_name.human), class: "btn btn-primary" %>

  <% end %>
  <% if current_user.admin? %>
    <%= link_to t('navigation.cancel'), users_path, class: "btn btn-secondary" %>
  <% else %>
    <%= link_to t('navigation.cancel'), audit_reports_path, class: "btn btn-secondary" %>
  <% end %>
 
<% end %>
