<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('user.edit') %></h5>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">
          <%= t('user.info') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">
          <%= t('user.password') %>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <br/>
      <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <%= render 'form' %>
      </div>
      <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
        <% if @user == current_user %>
          <div class="alert alert-warning" role="alert">
            <%= t('user.password_alert') %>
          </div>
        <% end %>
        <%= render 'password_form' %>
      </div>
    </div>
    
  </div>
</div>