<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('navigation.users') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th><%=t('activerecord.attributes.user.first_name') %></th>
            <th><%=t('activerecord.attributes.user.last_name') %></th>
            <th><%=t('activerecord.attributes.user.email') %></th>
            <th><%=t('activerecord.attributes.user.organization') %></th>
            <th><%=t('activerecord.attributes.user.role') %></th>
            
            
            <th>
              <% if policy(User).create? %>
                <span  class="float-right"><%= link_to t('navigation.new_user'), new_user_path, class: "btn btn-success btn-sm" %></span>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |u| %>
          <tr>
            <td><%= link_to u.first_name, user_path(u) %></td>
            <td><%= link_to u.last_name, user_path(u) %></td>
            <td><%= link_to u.email, user_path(u) %></td>
            <td><%= u.organization.name %></td>
            <td><%= User.human_attribute_name("role.#{u.role}")  %></td>
            
            <td>
              <% if policy(u).update? %>
                <span  class="float-right"><%= link_to t('navigation.edit'), edit_user_path(u), class: "btn btn-primary btn-sm" %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
