<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('user.show') %></h5>
    <p>
    <strong><%=t('activerecord.attributes.user.first_name') %>:</strong>
    <%= @user.first_name %>
    </p>
    <p>
    <strong><%=t('activerecord.attributes.user.last_name') %>:</strong>
    <%= @user.last_name %>
    </p>
    <p>
    <strong><%=t('activerecord.attributes.user.email') %>:</strong>
    <%= @user.email %>
    </p>
    <p>
    <strong><%=t('activerecord.attributes.user.organization') %>:</strong>
    <%= @user.organization.name %>
    </p>

    <% if policy(@user).update? %>
      <%= link_to t('navigation.edit'), edit_user_path(@user), class: "btn btn-primary"  %>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to t('navigation.back'), users_path, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to t('navigation.back'), audit_reports_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>