<%= form_with model: @ministry, local: true do |form| %>


  <% if @ministry.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@ministry.errors.count, t('errors.error')) %> 
        <%= t('errors.prohibited_ministry') %>
      </h2>
      <ul>
        <% @ministry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :name %><br>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :abbreviation %><br>
      <%= form.text_field :abbreviation, class: "form-control" %>
    </div>
  </div>

  
  <% if current_page?(new_ministry_path)%>
    <%= form.submit t('navigation.save', model: Ministry.model_name.human), class: "btn btn-primary" %>
  <% else %>
    <%= form.submit t('navigation.save', model: Ministry.model_name.human), class: "btn btn-primary" %>
    <% if policy(@ministry).destroy? %>
    <% if @ministry.id? %>
      <span  class="float-right"><%= link_to t('navigation.delete'), ministry_path(@ministry),
                method: :delete,
                data: { confirm: t('warnings.are_you_sure') }, class: "btn btn-danger" %></span>
    <% end %>
    <% end %>
  <% end %>
  <%= link_to t('navigation.cancel'), ministries_path, class: "btn btn-secondary" %>
 
<% end %>