<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('navigation.ministries') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th><%=t('activerecord.attributes.ministry.name') %></th>
            <th><%=t('activerecord.attributes.ministry.abbreviation') %></th>
            
            <th>
              <% if policy(Ministry).create? %>
                <span  class="float-right"><%= link_to t('ministry.add'), new_ministry_path, class: "btn btn-success btn-sm" %></span>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
        <% @ministries.each do |m| %>
          <tr>
            <td><%= m.name %></td>   
            <td><%= m.abbreviation %></td>       
            <td>
              <% if policy(m).update? %>
                <span  class="float-right"><%= link_to t('navigation.edit'), edit_ministry_path(m), class: "btn btn-primary btn-sm" %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h2>Import Ministère</h2>

<%= form_with(url: {action: :import}, multipart: true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
