<div class="card">
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class => "form-signin"}) do |f| %>
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal"><%= t('auth.please_sign_in') %></h1>
      </div>

      <div class="form-label-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('email_address'), class: "form-control" %>
        <%= f.label t('auth.email_address') %>
      </div>

      <div class="form-label-group">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: t('password'), class: "form-control" %>
        <%= f.label t('auth.password') %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="checkbox mb-3">
          <%= f.check_box :remember_me %>
          <%= f.label t('auth.remember_me') %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit t('auth.login'), class: "btn btn-lg btn-primary btn-block" %>
      </div>

      <div class="text-center mb-4">
        <br>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>


