@import "bootstrap";
@import "devise";
@import "chosen";
@import "tempusdominus-bootstrap-4";
@import "font-awesome";

main > .container-fluid {
    padding-top: 5rem;
  }

main > .container {
    padding-top: 5rem;
  }

body {
  padding-top: 5rem;
}

.app-content {
    padding-top: 5rem;
}


span.twitter-typeahead {

  .tt-menu {
    @extend .dropdown-menu;
  }

  .tt-suggestion {
    @extend .dropdown-item;
  }

  .tt-suggestion.tt-cursor {
    @extend .dropdown-item.active;
  }

  .input-group & {
    display: flex !important;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    width: 1%;

    .tt-menu, .tt-hint, .tt-input {
      width: 100%;
    }
  }
}

.orgtypeahead {
  width: 100% !important;
}
