<%= form_with model: @organization, local: true do |form| %>


  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@organization.errors.count, t('errors.error')) %> 
        <%= t('errors.prohibited_organization') %>
      </h2>
      <ul>
        <% @organization.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :name %><br>
      <%= form.text_field :name, class: "form-control form-control-lg orgtypeahead" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :abbreviation %><br>
      <%= form.text_field :abbreviation, class: "form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <%= form.check_box :control, class: "form-check-input" %>
        <%= form.label  :control, class: "form-check-label" %>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :ministry %><br>
      <%= form.collection_select :ministry_id, Ministry.order(:name),:id,:name, {}, { :class => "form-control" } %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :region %><br>
      <%= form.collection_select :region_id, Region.order(:name),:id,:name, {}, { :class => "form-control" } %>
    </div>
  </div>

  
  <% if current_page?(new_organization_path)%>
    <%= form.submit t('navigation.save', model: Organization.model_name.human), class: "btn btn-primary" %>
  <% else %>
    <%= form.submit t('navigation.save', model: Organization.model_name.human), class: "btn btn-primary" %>
    <% if policy(@organization).destroy? %>
    <% if @organization.id %>
      <span  class="float-right"><%= link_to t('navigation.delete'), organization_path(@organization),
                method: :delete,
                data: { confirm: t('warnings.are_you_sure') }, class: "btn btn-danger" %></span>
                <script>
    
                $(function () {
                  var orgs = <%= @org_names.html_safe %>
                  
                  var organizations = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.whitespace,
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    local: orgs
                  });
                      
                  $('.orgtypeahead').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                  },
                  {
                    name: 'orgs',
                    source: organizations
                  });
                });
                
                </script>
   <% end %>

    <% end %>
  <% end %>
  <%= link_to t('navigation.cancel'), organizations_path, class: "btn btn-secondary" %>
 
<% end %>

