<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('navigation.organizations') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th><%=t('activerecord.attributes.organization.name') %></th>
            <th><%=t('activerecord.attributes.organization.abbreviation') %></th>
            <th><%=t('activerecord.models.ministry') %></th>
            <th><%=t('activerecord.models.region') %></th>
            <th><%=t('activerecord.attributes.organization.control') %></th>
            
            <th>
              <% if policy(Organization).create? %>
                <span  class="float-right"><%= link_to t('organization.add'), new_organization_path, class: "btn btn-success btn-sm" %></span>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
        <% @organizations.each do |o| %>
          <tr>
            <td><%= o.name %></td>      
            <td><%= o.abbreviation %></td>    
            <td><%= o.ministry.name %></td>  
            <td><%= o.region.name %></td>  
            <td><% if o.control %><i class="fa fa-check"></i><% end %></td>       
            <td>
              <% if policy(o).update? %>
                <span  class="float-right"><%= link_to t('navigation.edit'), edit_organization_path(o), class: "btn btn-primary btn-sm" %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<h2>Import Entitée</h2>

<%= form_with(url: {action: :import}, multipart: true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
  </div>
</div>
<% @organizations.each do |o| %>
INSERT INTO public.organizations(
	id, name, abbreviation, control, created_at, updated_at, ministry_id, region_id)
	VALUES (<%=o.id%>, '<%=o.name.gsub("'", "''")%>', '<%=o.abbreviation.gsub("'", "''")%>',<%=o.control%>, NOW(), NOW(), <%=o.ministry_id%>, <%=o.region.id%>);
  <% end %>