<%= form_with model: @category, local: true do |form| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, t('errors.error')) %> 
        <%= t('errors.prohibited_catgory') %>
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :name %><br>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :parent %><br>
      <%= form.collection_select :parent_id, Category.arrange_as_array({:order => 'name'}, @category.possible_parents) , :id, :name_for_selects, {:include_blank => true}, { :class => "form-control" } %>
    </div>
  </div>

  
  <% if current_page?(new_category_path)%>
    <%= form.submit t('navigation.save', model: Category.model_name.human), class: "btn btn-primary" %>
  <% else %>
    <%= form.submit t('navigation.save', model: Category.model_name.human), class: "btn btn-primary" %>
    <% if policy(@category).destroy? %>
    <% if @category.id? %>
      <span  class="float-right"><%= link_to t('navigation.delete'), category_path(@category),
                method: :delete,
                data: { confirm: t('warnings.are_you_sure') }, class: "btn btn-danger" %></span>
    
      <% end %>
    <% end %>
  <% end %>
  <%= link_to t('navigation.cancel'), categories_path, class: "btn btn-secondary" %>
 
<% end %>
