<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('navigation.categories') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th><%=t('activerecord.attributes.category.name') %></th>
            
            <th>
              <% if policy(Category).create? %>
                <span  class="float-right"><%= link_to t('category.add'), new_category_path, class: "btn btn-success btn-sm" %></span>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
        <% @categories.each do |c| %>
          <tr>
            <td><%= c.name_for_selects %></td>        
            <td>
              <% if policy(c).update? %>
                <span  class="float-right"><%= link_to t('navigation.edit'), edit_category_path(c), class: "btn btn-primary btn-sm" %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <h2>Importer des catégories</h2>
  <%= form_with(url: {action: :import}, multipart: true) do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Importer" %>
  <% end %>
 
</div>