<%= form_with model: @region, local: true do |form| %>


  <% if @region.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@region.errors.count, t('errors.error')) %> 
        <%= t('errors.prohibited_region') %>
      </h2>
      <ul>
        <% @region.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label  :name %><br>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  
  <% if current_page?(new_region_path)%>
    <%= form.submit t('navigation.save', model: Region.model_name.human), class: "btn btn-primary" %>
  <% else %>
    <%= form.submit t('navigation.save', model: Region.model_name.human), class: "btn btn-primary" %>
    <% if policy(@region).destroy? %>
    <% if @region.id? %>
      <span  class="float-right"><%= link_to t('navigation.delete'), region_path(@region),
                method: :delete,
                data: { confirm: t('warnings.are_you_sure') }, class: "btn btn-danger" %></span>
    <% end %>
      <% end %>
  <% end %>
  <%= link_to t('navigation.cancel'), regions_path, class: "btn btn-secondary" %>
 
<% end %>