<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('navigation.regions') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th><%=t('activerecord.attributes.region.name') %></th>
            
            <th>
              <% if policy(Region).create? %>
                <span  class="float-right"><%= link_to t('region.add'), new_region_path, class: "btn btn-success btn-sm" %></span>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
        <% @regions.each do |r| %>
          <tr>
            <td><%= r.name %></td>        
            <td>
              <% if policy(r).update? %>
                <span  class="float-right"><%= link_to t('navigation.edit'), edit_region_path(r), class: "btn btn-primary btn-sm" %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>