<div class="card">
  <div class="card-body">
    <%= form_tag '/reports/ministries/control', :method => :get do %>
      <div class="form-row">
        <div class="form-group col-md-5">
          <%= label_tag  t('activerecord.attributes.audit_report.year') %><br>
          <%= select_tag "year", options_for_select(Time.new.year-5..Time.new.year+5, params[:year]), include_blank: t('navigation.all'), class: 'form-control' %>
        </div>
        <div class="form-group col-md-6">
          <%= label_tag  t('activerecord.attributes.recommendation.status') %><br>
          <%= select_tag "status", options_for_select(RecommendationStatus.to_option_values, params[:status]), include_blank: t('navigation.all'), class: 'form-control' %>
        </div>
        <div class="form-group col-md-1">
          <%= label_tag  t('navigation.filter') %><br>

          <button class='btn btn-primary form-control'>
            <i class="fa fa-filter"></i>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br />

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('reports.ministry_control_structure_aggregates') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th><%=t('activerecord.attributes.ministry.name') %></th>
            <th><%=t('reports.audit_reports_count') %></th>
            <th><%=t('reports.recommendations_count') %></th>
            <th><%=t('reports.total_cost') %></th>
            <th><%=t('reports.total_recovered') %></th>
          </tr>
        </thead>
        <tbody>
        <% @ministries.each do |m| %>
          <tr>
            <td><%= m.name %></td>   
            <td><%= m.audit_reports_count %></td>  
            <td><%= m.recommendations_count %></td> 
            <td><%= m.total_cost %></td> 
            <td><%= m.total_recovered %></td>      
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>