<div class="card">
  <div class="card-body">
    <%= form_tag '/reports/organizations/control', :method => :get do %>
      <div class="form-row">
        <div class="form-group col-md-5">
          <%= label_tag  t('activerecord.attributes.audit_report.year') %><br>
          <%= select_tag "year", options_for_select(Time.new.year-5..Time.new.year+5, params[:year]), include_blank: t('navigation.all'), class: 'form-control' %>
        </div>
        <div class="form-group col-md-6">
          <%= label_tag  t('activerecord.attributes.recommendation.status') %><br>
          <%= select_tag "status", options_for_select(RecommendationStatus.to_option_values, params[:status]), include_blank: t('navigation.all'), class: 'form-control' %>
        </div>
        <div class="form-group col-md-1">
          <%= label_tag  t('navigation.filter') %><br>

          <button class='btn btn-primary form-control'>
            <i class="fa fa-filter"></i>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br />

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('reports.organization_control_structure_aggregates') %></h5>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          <%= t('reports.table') %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          <%= t('reports.chart') %>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <%= react_component('SortableTable',
          {data: @organizations[:data], 
            columns: @organizations[:columns]}) %>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <%= react_component('AggregatesChart', 
          {data: @organizations[:data], 
            columns: @organizations[:columns]}) %>
      </div>
    </div>
  </div>
</div>