<div class="card">
  <div class="card-body">
    <div class="table-responsive"><br>
      <a href="/reports/exports/all/csv"><button class="btn btn-success"><%=t('reports.export_all') %></button></a>
    </div>
  </div>
</div>