<%
  total=0 
  total_execute=0
  total_encours=0
  total_non_execute=0
  total_nb3count=0
  total_nb3percent=0
  if defined?(@categories['Administratif']['Aucune Réponse']['count'])
  nb_administratif=@categories['Administratif']['Aucune Réponse']['count']+@categories['Administratif']['En Cours']['count']+@categories['Administratif']['Exécutée']['count']+@categories['Administratif']['Non Exécutée']['count']
  end
  if defined?(@categories['Comptable et Financier']['Aucune Réponse']['count'])
  nb_financier=@categories['Comptable et Financier']['Aucune Réponse']['count']+@categories['Comptable et Financier']['En Cours']['count']+@categories['Comptable et Financier']['Exécutée']['count']+@categories['Comptable et Financier']['Non Exécutée']['count']
  end
  if defined?(@categories['Performance']['Aucune Réponse']['count'])
	  nb_performance=@categories['Performance']['Aucune Réponse']['count']+@categories['Performance']['En Cours']['count']+@categories['Performance']['Exécutée']['count']+@categories['Performance']['Non Exécutée']['count']
  end
  @counts[:recommendation_count] == 0 ? percent_administratif = 0 : percent_administratif = (nb_administratif.to_f / @counts[:recommendation_count].to_f * 100).to_i
  @counts[:recommendation_count] == 0 ? percent_financier = 0 : percent_financier= (nb_financier.to_f / @counts[:recommendation_count].to_f * 100).to_i
  @counts[:recommendation_count] == 0 ? percent_performance= 0 : percent_performance= (nb_performance.to_f / @counts[:recommendation_count].to_f * 100).to_i
  

  @counts[:audit_report_count] == 0  ? finance_percent = 0 : finance_percent = (@counts[:finance_count].to_f / @counts[:audit_report_count].to_f * 100).to_i
  @counts[:audit_report_count] == 0  ? performance_percent = 0 : performance_percent = (@counts[:performance_count].to_f / @counts[:audit_report_count].to_f * 100).to_i
  @counts[:recommendation_count] == 0 ? executed_percent = 0 : executed_percent = (@counts[:executed_status_count].to_f / @counts[:recommendation_count].to_f * 100).to_i
  @counts[:recommendation_count] == 0 ? in_progress_percent = 0 : in_progress_percent = (@counts[:in_progress_status_count].to_f / @counts[:recommendation_count].to_f * 100).to_i
  @counts[:recommendation_count] == 0 ? not_executed_percent = 0 : not_executed_percent = (@counts[:not_executed_status_count].to_f / @counts[:recommendation_count].to_f * 100).to_i
  @counts[:recommendation_count] == 0 ? unknown_percent = 0 : unknown_percent = (@counts[:unknown_status_count].to_f / @counts[:recommendation_count].to_f * 100).to_i
  @counts[:audit_report_count]
%>
<% total_rapport=AuditReport.where(year:params[:year]).count %>
<%= total_rapport.to_f%>
<% 
a=AuditType.all
a.each do |at| 
total_audit_type=AuditReport.where(audit_type:at.id,year:params[:year]).count 
total_rapport==0 ? pourcent=0 : pourcent=(total_audit_type.to_f/total_rapport.to_f)*100
%>
	<%= at.name%>
	<%= total_audit_type%>
	<%= pourcent%>
	<br>
	
<%  end %>
<div class="card">
<div class="card-body">
<div class="text-right">
	<button class="btn btn-success" onclick="export_to_word()">Télécharger le rapport</button>
</div>
<div id="docx">
<style>
    table, tr, td, th{
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        text-align: left;
    }

    .normal {
        font-family:"Calibri",sans-serif; 
        line-height:107%;
        font-size:11.0pt;
        mso-ascii-font-family:Calibri;
        mso-ascii-theme-font:minor-latin;
    }

    @page portrait_A4_page  {
        size:595.3pt 841.9pt;
        margin:72.0pt 72.0pt 72.0pt 72.0pt;
        mso-header-margin:35.4pt;
        mso-footer-margin:35.4pt;
        mso-paper-source:0;
    }

    div.portrait_A4_page { page:portrait_A4_page; }

    @page landscape_A4_page {
        size:841.9pt 595.3pt;
        mso-page-orientation:landscape;
        margin:72.0pt 72.0pt 72.0pt 72.0pt;
        mso-header-margin:35.45pt;
        mso-footer-margin:35.45pt;
        mso-paper-source:0;
    }

    div.landscape_A4_page { page:landscape_A4_page; }

</style>
<div class=portrait_A4_page>
  <span class=normal>
    <!--Page 1-->
					<table width="647" style="border:0">
			<tbody style="border:0">
			<tr style="height: 19px;border:0">
			<td style="height: 19px; text-align: center; border:0" width="288"><strong>P R I M A T U R E</strong></td>
			<td style="height: 19px;border:0" width="104">&nbsp;</td>
			<td style="height: 19px; text-align: center;border:0" width="255"><strong>REPUBLIQUE DU MALI</strong></td>
			</tr>
			<tr style="height: 19px;border:0">
			<td style="height: 19px; text-align: center;border:0" width="288"><strong>----------------------</strong></td>
			<td style="height: 19px;border:0" width="104">&nbsp;</td>
			<td style="height: 19px; text-align: center;border:0" width="255"><strong>UN PEUPLE-UN BUT-UNE FOI</strong></td>
			</tr>
			<tr style="height: 19px;border:0">
			<td  style="height: 19px; text-align: center;border:0" width="288">
			<p><strong>CONTR&Ocirc;LE GENERAL DES</strong></p>
			</td>
			<td style="height: 19px;border:0" width="104">&nbsp;</td>
			<td style="height: 19px; text-align: center;border:0" width="255"><strong>-----------------</strong></td>
			</tr>
			<tr style="height: 19px;border:0">
			<td style="height: 19px;text-align: center;border:0" width="288"><strong>SERVICES PUBLICS</strong></td>
			<td style="height: 19px;border:0" width="104">&nbsp;</td>
			<td style="height: 19px; text-align: center;border:0" width="255">&nbsp;</td>
			</tr>
			<tr style="height: 19px;border:0">
			<td style="height: 19px; text-align: center;border:0" width="288">
			<p><strong>-------------------</strong></p>
			</td>
			<td style="height: 35px;border:0" width="104">
			<p>&nbsp;</p>
			</td>
			<td style="height: 35px; text-align: center;border:0" width="255">
			<p>&nbsp;</p>
			</td>
			</tr>
			</tbody>
			</table>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p><strong>&nbsp;</strong></p>
			<p><strong>&nbsp;</strong></p>
			<p><strong>&nbsp;</strong></p>
			<center><h2 style="font-weight:bold">	RAPPORT SUR L&rsquo;ETAT DE MISE EN &OElig;UVRE DES RECOMMANDATIONS DES STRUCTURES DE CONTR&Ocirc;LE&nbsp;:</h2></center>
			<h2 style="text-align:center">EXERCICE <%= params[:year] %></h2>
			 </span>
			<p><strong>&nbsp;</strong></p>
			<p><strong>&nbsp;</strong></p>
			<p><strong>&nbsp;</strong></p>
			<p><strong>&nbsp;</strong></p>
			<p><strong>&nbsp;</strong></p>
			<p><strong>&nbsp;</strong></p>
			<p><strong>&nbsp;</strong></p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p style="text-align:center;font-size:19px"><strong>Mois &hellip;. / ann&eacute;e <%= params[:year] %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>

    <!-- End page 1-->
  </span>   
</div>    
<br clear=all style='page-break-before:always; mso-break-type:section-break'>   

<div class=portrait_A4_page>
  <span class=normal>
    <!-- page 2-->
	<span style="font-family:Times New Roman;font-size:19px">
	<p><strong><u>INTRODUCTION&nbsp;</u></strong>:</p>
	<p>Le pr&eacute;sent rapport de suivi porte sur l&rsquo;&eacute;tat de mise en &oelig;uvre des recommandations issues des rapports produits par les organes de contr&ocirc;le administratif.</p>
	<p>&nbsp;</p>
	<p>Il concerne les recommandations des missions d&rsquo;audits effectu&eacute;es en l&rsquo;ann&eacute;e <%= params[:year] %>.</p>
	<p>Le rapport est structur&eacute; comme suit&nbsp;:</p>
	<ul>
	   <li>le processus de suivi des recommandations d&rsquo;audits&nbsp;;</li>
	   <li>l&rsquo;&eacute;tat de mise en &oelig;uvre des recommandations&nbsp;;</li>
	   <li>les conclusions et recommandations.</li>
	</ul>
	<p>&nbsp;</p>
	<strong>I.<u>Processus de suivi des recommandations&nbsp;</u></strong>:
	<p>Les intervenants dans le processus de mise en &oelig;uvre des recommandations issues des rapports d&rsquo;audits sont les suivants&nbsp;:</p>
	<ul>
	</span> 
    <!-- End page 2-->  
  </span>   
</div>  
<br clear=all style='page-break-before:always; mso-break-type:section-break'> 
<div class=portrait_A4_page>
  <span class=normal>
    <!-- Page3-->
		<table width="610">
	<tbody>
	<tr>
	<td width="199" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman"><strong>Intervenants</strong></p>
	</td>
	<td width="411" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman"><strong>Op&eacute;rations</strong></p>
	</td>
	</tr>
	<tr>
	<td rowspan="3" width="199" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman">Structures d&rsquo;audit</p>
	</td>
	<td width="411" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman">V&eacute;rification de la gestion des structures publiques (v&eacute;rification initiale)</p>
	</td>
	</tr>
	<tr>
	<td width="411" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman">V&eacute;rification de la mise en &oelig;uvre des recommandations formul&eacute;es (mise en &oelig;uvre)</p>
	</td>
	</tr>
	<tr>
	<td width="411" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman">Transmission, &agrave; l&rsquo;autorit&eacute; comp&eacute;tente, chacune en ce qui la concerne, des rapports de v&eacute;rifications, qu&rsquo;elles soient initiales ou de mise en &oelig;uvre des recommandations (rapports de suivi)</p>
	</td>
	</tr>
	<tr>
	<td width="199" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman">&nbsp;</p>
	</td>
	<td width="411" style="border:1px solid black">&nbsp;</td>
	</tr>
	<tr>
	<td rowspan="2" width="199" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman">Entit&eacute;s audit&eacute;es</p>
	</td>
	<td width="411" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman">Mise en &oelig;uvre des recommandations des v&eacute;rifications initiales suite aux instructions des Ministres de tutelle</p>
	</td>
	</tr>
	<tr>
	<td width="411" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman">Transmission, au Ministre de tutelle du Compte rendu de mise en &oelig;uvre des recommandations</p>
	</td>
	</tr>
	</tbody>
	</table>
	<p style="font-size:19px;font-family:Times New Roman"><strong><u>&nbsp;</u></strong></p>
	<table width="610">
	<tbody>
	<tr>
	<td rowspan="4" width="171" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman">Minist&egrave;res de tutelle des Entit&eacute;s audit&eacute;es</p>
	</td>
	<td width="439" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman">R&eacute;ception, &agrave; partir de la Structure d&rsquo;audit, des exemplaires de rapports d'audit (v&eacute;rification initiale et suivi des recommandations)</p>
	</td>
	</tr>
	<tr>
	<td width="439" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman">Transmission, &agrave; la Primature, des exemplaires de rapports d'audit (v&eacute;rification initiale et suivi des recommandations)</p>
	</td>
	</tr>
	<tr>
	<td width="439" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman">Suite aux instructions de la Primature, transmission, aux Entit&eacute;s audit&eacute;es relevant du Minist&egrave;re et &agrave; toutes autres personnes concern&eacute;es, de leurs parts de constats et recommandations formul&eacute;s, pour mise en &oelig;uvre.</p>
	</td>
	</tr>
	<tr>
	<td width="439" style="border:1px solid black">
	<p style="font-size:19px;font-family:Times New Roman">Veille &agrave; la mise en &oelig;uvre des recommandations issues des rapports d&rsquo;audit</p>
	</td>
	</tr>
	</tbody>
	</table>
    <!-- End Page3-->
  </span>   
</div>  
<br clear=all style='page-break-before:always; mso-break-type:section-break'> 
<div class=portrait_A4_page>
  <span class=normal>
  <!-- Page 4 -->
		<table width="615">
		<tbody>
		<tr>
		<td width="210" style="border:1px solid black>
		<p style="font-size:19px;font-family:Times New Roman"><strong>Intervenants</strong></p>
		</td>
		<td width="405" style="border:1px solid black">
		<p style="font-size:19px;font-family:Times New Roman"><strong>Op&eacute;rations</strong></p>
		</td>
		</tr>
		<tr>
		<td rowspan="4" width="210" style="border:1px solid black">
		<p style="font-size:19px;font-family:Times New Roman">PRIMATURE</p>
		</td>
		<td width="405" style="border:1px solid black">
		<p style="font-size:19px;font-family:Times New Roman">R&eacute;ception des rapports d'audit (v&eacute;rification initiale et suivi des recommandations) transmis par les Minist&egrave;res sectoriels</p>
		</td>
		</tr>
		<tr>
		<td width="405" style="border:1px solid black">
		<p style="font-size:19px;font-family:Times New Roman">Instructions, aux Ministres sectoriels concern&eacute;s, pour le suivi de la mise en &oelig;uvre des recommandations</p>
		</td>
		</tr>
		<tr>
		<td width="405" style="border:1px solid black">
		<p style="font-size:19px;font-family:Times New Roman">Transmission, au CGSP pour traitement, des copies des rapports d'audit et de suivi de la mise en &oelig;uvre des recommandations</p>
		</td>
		</tr>
		<tr>
		<td width="405" style="border:1px solid black">suivi des re
		<p style="font-size:19px;font-family:Times New Roman">Mise en ligne de la synth&egrave;se des rapports de commandations transmis par le CGSP</p>
		</td>
		</tr>
		</tbody>
		</table>
		<p style="font-size:19px;font-family:Times New Roman">&nbsp;</p>
		<table width="610">
		<tbody>
		<tr>
		<td rowspan="2" width="218" style="border:1px solid black">
		<p style="font-size:19px;font-family:Times New Roman">Contr&ocirc;le G&eacute;n&eacute;ral des Services Publics (CGSP)</p>
		</td>
		<td width="392" style="border:1px solid black">
		<p style="font-size:19px;font-family:Times New Roman">Synth&egrave;se des rapports de mise en &oelig;uvre des recommandations produits par toutes structures d&rsquo;audit (dont lui-m&ecirc;me) et les entit&eacute;s audit&eacute;es</p>
		</td>
		</tr>
		<tr>
		<td width="392" style="border:1px solid black">
		<p style="font-size:19px;font-family:Times New Roman">Transmission, &agrave; la Primature, de la synth&egrave;se des rapports de mise en &oelig;uvre des recommandations</p>
		</td>
		</tr>
		</tbody>
		</table>
		<p style="font-size:19px;font-family:Times New Roman">&nbsp;</p>
		<p style="font-size:19px;font-family:Times New Roman">Le sch&eacute;ma de fonctionnement est pr&eacute;sent&eacute; ci-apr&egrave;s&nbsp;: </p>
  <!--End Page 4 -->
  </span>   
</div>  
<br clear=all style='page-break-before:always; mso-break-type:section-break'> 
<div class=portrait_A4_page>
  <span class=normal>
    <!--Page 5 -->
	<img src="http://cgsp.ml/wp-content/uploads/2020/10/rapport_page-005.jpg" width="620px" height="877px">
    <!--Page 5 -->
  </span>   
  
</div>  

<br clear=all style='page-break-before:always; mso-break-type:section-break'> 
<div class=portrait_A4_page>
  <span class=normal>
  <!-- Page 6-->
	<p style="font-size:19px;font-family:Times New Roman"><strong>II- <u>ANALYSE DE LA SITUATION DE MISE EN &OElig;UVRE DES RECOMMANDATIONS&nbsp;</u>:</strong></p>
	<p style="font-size:19px;font-family:Times New Roman">&nbsp;</p>
	<p style="font-size:19px;font-family:Times New Roman">Sur la base des rapports d&rsquo;audit qui lui sont parvenus, le CGSP a proc&eacute;d&eacute; &agrave; une &eacute;valuation globale de la situation en d&eacute;terminant&nbsp;:</p>
	<ul>
	<li  style="font-size:19px;font-family:Times New Roman">le nombre d&rsquo;entit&eacute;s audit&eacute;es&nbsp;: <strong><%= @counts[:entity_count]%></strong></li>
	<li  style="font-size:19px;font-family:Times New Roman">nombre de rapports produits&nbsp;: <strong><%= @counts[:audit_report_count] %></strong> dont&nbsp;:</li>
	<li  style="font-size:19px;font-family:Times New Roman">rapports d&rsquo;audit de conformit&eacute;&nbsp;: <%= @counts[:finance_count]%>&nbsp; soit <%= @finance_percent %>% du total de rapports&nbsp;;</li>
	<li  style="font-size:19px;font-family:Times New Roman">rapports d&rsquo;audit de performance&nbsp;: <%= @counts[:performance_count]%>&nbsp;soit <%= @performance_percent.to_s %>% du total.</li>
	<li  style="font-size:19px;font-family:Times New Roman">le nombre total de recommandations formul&eacute;es&nbsp;: <strong><%= @counts[:recommendation_count] %>.</strong></li>
	</ul>
	<p style="font-size:19px;font-family:Times New Roman">Le nombre de recommandations dont l&rsquo;&eacute;tat de mise en &oelig;uvre est parvenu au CGSP&nbsp;(<strong>voir tableau 1 ci-apr&egrave;s</strong>) est de <%= @counts[:executed_status_count]%>(soit <%= @executed_percent.to_s %> % du total)&nbsp;</p>
	<p style="font-size:19px;font-family:Times New Roman">Le nombre de recommandations dont l&rsquo;&eacute;tat de mise en &oelig;uvre n&rsquo;est pas parvenu au CGSP est de <%=@counts[:unknown_status_count] %> soit <%= @unknown_percent.to_s %> % du total&nbsp;(<strong>Annexe I</strong>).</p>
  <!--End Page 6-->
  </span>   
  
<br clear=all style='page-break-before:always; mso-break-type:section-break'> 
</div>  
<div class=landscape_A4_page>
     <!--Page 7 -->
	 <div align="left" dir="ltr" style="margin-left:-3.5pt;">
	 <table style="border:none;border-collapse:collapse;">
		<tbody>
		   <tr style="height:19.5pt;">
			  <td colspan="14" style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Tableau 1 :&nbsp;</span><span style="font-size:12pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">SUIVI DES RECOMMANDATIONS</span><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;: P&eacute;riode : ann&eacute;e</span></p>
			  </td>
		   </tr>
		   <tr style="height:19.5pt;">
			  <td rowspan="5" style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Typologie</span></p>
			  </td>
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Total</span></p>
			  </td>
			  <td rowspan="5" style="border-left:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
			  <td colspan="11" style="border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Etat d&apos;ex&eacute;cution</span></p>
			  </td>
		   </tr>
		   <tr style="height:18.75pt;">
			  <td rowspan="4" style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:12pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">(3)+(4)=(T)</span></p>
			  </td>
			  <td colspan="8" style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Parvenu au CGSP</span></p>
			  </td>
			  <td rowspan="4" style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
			  <td colspan="2" rowspan="3" style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Non parvenu</span></p>
			  </td>
		   </tr>
		   <tr style="height:18.75pt;">
			  <td colspan="2" style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:10pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Total (1)+(2)=(3)</span></p>
			  </td>
			  <td colspan="4" style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Mises en &oelig;uvre</span></p>
			  </td>
			  <td colspan="2" rowspan="2" style="border-left:solid #000000 0.5pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Non ex&eacute;cut</span></p>
			  </td>
		   </tr>
		   <tr style="height:18.75pt;">
			  <td rowspan="2" style="border-left:solid #000000 1pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Nb (3)</span></p>
			  </td>
			  <td rowspan="2" style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">% (T)</span></p>
			  </td>
			  <td rowspan="2" style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:12pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;Ex&eacute;cut (E )</span></p>
			  </td>
			  <td rowspan="2" style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:12pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">En cours (Ec)</span></p>
			  </td>
			  <td colspan="2" style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Total (E )+(Ec)</span></p>
			  </td>
		   </tr>
		   <tr style="height:19.5pt;">
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Nbre (1)</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;&apos;%(3)</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;Tot (2)</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;&apos;%(3)</span></p>
			  </td>
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;Tot (4)</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;% (T)</span></p>
			  </td>
		   </tr>
		   <tr style="height:24.95pt;">
			  <td colspan="14" style="border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">STATISTIQUES GLOBALES</span></p>
			  </td>
		   </tr>
		   <tr style="height:19.5pt;">
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">RECOMMANDATIONS</span></p>
			  </td>
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp; &nbsp; &nbsp; &nbsp; - &nbsp; &nbsp;&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp; &nbsp; &nbsp; &nbsp;- &nbsp; &nbsp;&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp; &nbsp; &nbsp; - &nbsp; &nbsp;&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;</span></p>
			  </td>
		   </tr>
	 <% @categories.each do |key, o|
	total+=o["count"]
	nb3count = o["Exécutée"]["count"] + o["En Cours"]["count"] + o["Non Exécutée"]["count"]
    o["count"] == 0 ? nb3percent = 0 : nb3percent = (nb3count.to_f / o["count"].to_f * 100).to_i
    eeccount = o["Exécutée"]["count"] + o["En Cours"]["count"]
    o["count"] == 0  ? eecpercent = 0 : eecpercent = (eeccount.to_f / o["count"].to_f * 100).to_i
    o["count"] == 0 ? expercent = 0 : expercent = (o["Exécutée"]["count"].to_f / o["count"].to_f * 100).to_i
    o["count"] == 0 ? ecpercent = 0 : ecpercent = (o["En Cours"]["count"].to_f / o["count"].to_f * 100).to_i
	o["count"] == 0  ? nepercent = 0 : nepercent = (o["Non Exécutée"]["count"].to_f / o["count"].to_f * 100).to_i		
	total_nb3count+=nb3count
	total_nb3percent+=nb3percent
	total_execute+= o["Exécutée"]["count"]
	total_encours+=o["En Cours"]["count"]
	total_non_execute+=o["Non Exécutée"]["count"]
	%>  
		   <tr style="height:35.1pt;" style="border:1px solid black">
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><%= key %></span></p>
			  </td>
		<td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
			  <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><%= o["count"] %></span></p>
		</td>

		<td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
			<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"></span></p>
		</td>
			<td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
		   <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><%= nb3count %></span></p>
		</td>
	 <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
		<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><%= nb3percent %> %</span></p>
	 </td>
	 <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
	 	<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><%= o["Exécutée"]["count"] %></span></p>
  	 </td>
    <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
      <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><%= expercent %> %</span></p>
	</td>
	<td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
		<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><%= o["En Cours"]["count"] %></span></p>
	 </td>
	 <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
	 	<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><%= ecpercent %> %</span></p>
  	 </td>
    <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
      <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><%=  eeccount %></span></p>
	</td>
	<td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
		<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><%= eecpercent %> %</span></p>
	 </td>
	 <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
	 	<p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"></span></p>
  	 </td>
    <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
      <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><%= o["Non Exécutée"]["count"]%></span></p>
	</td>
    <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 0.5pt;border-top:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
      <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><%= nepercent %> %</span></p>
    </td>
<% end  %>
		   <tr style="height:35.1pt;border:1px solid black">
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Total</span></p>
			  </td>
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: right;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp; &nbsp; &nbsp;<%= total %> &nbsp;&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: right;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: right;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><%= total_nb3count %></span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: right;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp; &nbsp; &nbsp;<% total_nb3percent %>% &nbsp;&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: right;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp; &nbsp; &nbsp;- &nbsp;&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: right;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp; &nbsp; &nbsp;- &nbsp;&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: right;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">%</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: right;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp; &nbsp; &nbsp;- &nbsp;&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: right;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">%</span></p>
			  </td>
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 1pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
			  <td style="border-left:solid #000000 1pt;border-right:solid #000000 0.5pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: right;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp; &nbsp; &nbsp;- &nbsp;&nbsp;</span></p>
			  </td>
			  <td style="border-left:solid #000000 0.5pt;border-right:solid #000000 1pt;border-bottom:solid #000000 1pt;border-top:solid #000000 0.5pt;vertical-align:middle;padding:0pt 3.5pt 0pt 3.5pt;overflow:hidden;overflow-wrap:break-word;">
				 <p dir="ltr" style="line-height:1.2;text-align: right;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:'Times New Roman';color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">%</span></p>
			  </td>
		   </tr>
		</tbody>
	 </table>
  </div>
     <!-- End Page 7 -->
</div>
<br clear=all style='page-break-before:always; mso-break-type:section-break'>   
<div class=portrait_A4_page>
  <span class=normal>
  <%
  @recommendations[:total_count] == 0 ? execute_percent = 0 : execute_percent = (total_execute/ @recommendations[:total_count].to_f * 100).round(2)
  @recommendations[:total_count] == 0 ? encours_percent = 0 : encours_percent = (total_encours/ @recommendations[:total_count].to_f * 100).round(2)
  @recommendations[:total_count] == 0 ? non_execute_percent = 0 : non_execute_percent = (total_non_execute/ @recommendations[:total_count].to_f * 100).round(2)
  %>
  <!--  Page 8 -->
	<p style="font-size:19px;font-family:Times New Roman">L&rsquo;examen des rapports a permis de distinguer les manquements par nature, constituant ainsi une cartographie des irr&eacute;gularit&eacute;s. Cette cartographie permet de comprendre le sens des irr&eacute;gularit&eacute;s, leurs domaines de survenance (secteurs de la gestion), leurs fr&eacute;quences, leur importance (incidences financi&egrave;res s&rsquo;il y a lieu).</p>
	<p  style="font-size:19px;font-family:Times New Roman"><strong>Permettant d&rsquo;identifier les zones d&rsquo;irr&eacute;gularit&eacute;s, cette cartographie constitue un outil d&rsquo;aide &agrave; la d&eacute;cision pour les responsables.</strong></p>
	<p  style="font-size:19px;font-family:Times New Roman">L&rsquo;analyse des <%=@counts[:executed_status_count]%> &nbsp;recommandations dont l&rsquo;&eacute;tat de mise en &oelig;uvre est parvenu fait ressortir que&nbsp;:</p>
	<ul>
	<li  style="font-size:19px;font-family:Times New Roman"><%=nb_administratif%> sont d&rsquo;ordre administratif&nbsp;; soit <%=percent_administratif %>%&nbsp;de l&rsquo;ensemble des recommandations formul&eacute;es;</li>
	<li  style="font-size:19px;font-family:Times New Roman"><%= nb_financier %> sont d&rsquo;ordre comptable &amp; financier&nbsp;; soit <%=percent_financier%>%</li>
	<li  style="font-size:19px;font-family:Times New Roman"><%= nb_performance %>  sont relatives &agrave; la performance&nbsp;; soit <%=percent_performance%>%.</li>
	</ul>
	<p  style="font-size:19px;font-family:Times New Roman">&nbsp;</p>
	<p  style="font-size:19px;font-family:Times New Roman">La situation de mise en &oelig;uvre de ces recommandations se pr&eacute;sente ainsi&nbsp;:</p>
	<ul>
	<li  style="font-size:19px;font-family:Times New Roman"><strong><%= total_execute %></strong> sont enti&egrave;rement ex&eacute;cut&eacute;es&nbsp;; soit <strong><%=execute_percent  %> %&nbsp;(annexe II) </strong>;</li>
	<li  style="font-size:19px;font-family:Times New Roman"><strong><%=total_encours%></strong> sont en cours de r&eacute;alisation&nbsp;; soit <strong><%=encours_percent  %> %&nbsp;(annexe III</strong>)&nbsp;;</li>
	<li  style="font-size:19px;font-family:Times New Roman"><strong><%=total_non_execute%></strong> recommandations ne sont pas ex&eacute;cut&eacute;es, soit <strong><%= non_execute_percent  %>% </strong>(<strong>voir liste des recommandations non ex&eacute;cut&eacute;es en annexe IV</strong>).</li>
	</ul>
	<p  style="font-size:19px;font-family:Times New Roman">Au total, <%= total_execute+total_encours%> recommandations sont enti&egrave;rement ex&eacute;cut&eacute;es ou en cours de r&eacute;alisation&nbsp;; soit <strong><%= execute_percent+encours_percent%> %.</strong></p>
	<p  style="font-size:19px;font-family:Times New Roman">&nbsp;</p>
	<p  style="font-size:19px;font-family:Times New Roman">Certains manquements ont engendr&eacute; des co&ucirc;ts (irr&eacute;gularit&eacute;s avec incidence financi&egrave;re) dont la synth&egrave;se des recommandations est donn&eacute;e dans le tableau 2 ci-apr&egrave;s&nbsp;:</p>
 <!-- End Page 8 -->
  </span>   
  
<br clear=all style='page-break-before:always; mso-break-type:section-break'> 
</div> 
<div class=landscape_A4_page>
	<!--  Page 9 -->
		<p  style="font-size:12px;font-family:Times New Roman"><strong>Tableau 2&nbsp;: SYNTHESE DES RECOMMANDATIONS AVEC INCIDENCE FINANCIERE</strong></p>
<p  style="font-size:12px;font-family:Times New Roman">&nbsp;</p>
<table width="916">
<thead>
<tr>
<td rowspan="3" style="border:1px solid black" width="255">
<p  style="font-size:12px;font-family:Times New Roman"><strong>Typologie des irr&eacute;gularit&eacute;s</strong></p>
</td>
<td colspan="2" style="border:1px solid black" width="65">
<p  style="font-size:12px;font-family:Times New Roman"><strong>Nbre</strong></p>
</td>
<td colspan="5" style="border:1px solid black" width="320">
<p  style="font-size:12px;font-family:Times New Roman"><strong>Montants</strong></p>
</td>
<td rowspan="3" style="border:1px solid black" width="276">
<p  style="font-size:12px;font-family:Times New Roman"><strong>Traduction</strong></p>
</td>
</tr>
<tr>
<td rowspan="2" style="border:1px solid black" width="43">
<p  style="font-size:12px;font-family:Times New Roman">Total</p>
</td>
<td rowspan="2" width="23" style="border:1px solid black">
<p  style="font-size:12px;font-family:Times New Roman">%</p>
</td>
<td rowspan="2" width="87" style="border:1px solid black">
<p  style="font-size:12px;font-family:Times New Roman"><strong>En cause (1)</strong></p>
</td>
<td colspan="2" width="122" style="border:1px solid black">
<p  style="font-size:12px;font-family:Times New Roman"><strong>R&eacute;gularis&eacute; (2) / (1)</strong></p>
</td>
<td colspan="2" width="112" style="border:1px solid black">
<p  style="font-size:12px;font-family:Times New Roman"><strong>Reste &agrave; r&eacute;gulariser (3)/(1)</strong></p>
</td>
</tr>
<tr>
<td width="66" style="border:1px solid black">
<p  style="font-size:12px;font-family:Times New Roman"><strong>Total (2)</strong></p>
</td>
<td width="56" style="border:1px solid black">
<p  style="font-size:12px;font-family:Times New Roman"><strong>%</strong></p>
</td>
<td width="65" style="border:1px solid black">
<p  style="font-size:12px;font-family:Times New Roman"><strong>Total (3)</strong></p>
</td>
<td width="47" style="border:1px solid black">
<p  style="font-size:12px;font-family:Times New Roman"><strong>%</strong></p>
</td>
</tr>
<tr>
<td width="255" >
<p  style="font-size:12px;font-family:Times New Roman">&nbsp;</p>
</td>
<td width="43" ">
<p  style="font-size:12px;font-family:Times New Roman">&nbsp;</p>
</td>
<td width="23">
<p  style="font-size:12px;font-family:Times New Roman">&nbsp;</p>
</td>
<td width="87">
<p  style="font-size:12px;font-family:Times New Roman">&nbsp;</p>
</td>
<td width="66" >
<p  style="font-size:12px;font-family:Times New Roman">&nbsp;</p>
</td>
<td width="56" style="border:1px solid black">
<p  style="font-size:12px;font-family:Times New Roman">&nbsp;</p>
</td>
<td width="65" >
<p  style="font-size:12px;font-family:Times New Roman">&nbsp;</p>
</td>
<td width="47" style="border:1px solid black">
<p  style="font-size:12px;font-family:Times New Roman">&nbsp;</p>
</td>
<td width="276" style="border:1px solid black">
<p  style="font-size:12px;font-family:Times New Roman">&nbsp;</p>
</td>
</tr>
</thead>
<tbody>
<%
	@recommendations[:categories].each do |key, o|
	@recommendations[:total_count] == 0 ? countpercent = 0 : countpercent = (o[:count].to_f / @recommendations[:total_count].to_f * 100).round(2)
    o[:cost] == 0 ? recoveredpercent = 0 : recoveredpercent = (o[:recovered].to_f / o[:cost].to_f * 100).to_i
    balance = (o[:cost] - o[:recovered]).to_i
%>
<tr style="border:1px solid black">
	<td width="255" style="border:1px solid black">
	<p  style="font-size:12px;font-family:Times New Roman"><%=key%></p>
	</td>
	<td width="43" style="border:1px solid black">
	<p  style="font-size:12px;font-family:Times New Roman"><%= o[:count]%></p>
	</td>
	<td width="23" style="border:1px solid black">
	<p  style="font-size:12px;font-family:Times New Roman"><%= countpercent %></p>
	</td>
	<td width="87" style="border:1px solid black">
	<p  style="font-size:12px;font-family:Times New Roman"><%= o[:cost].to_i %></p>
	</td>
	<td width="66" style="border:1px solid black">
	<p  style="font-size:12px;font-family:Times New Roman"><%= o[:recovered].to_i %></p>
	</td>
	<td width="56" style="border:1px solid black">
	<p  style="font-size:12px;font-family:Times New Roman"><%= recoveredpercent %></p>
	</td>
	<td width="65" style="border:1px solid black">
	<p  style="font-size:12px;font-family:Times New Roman"><%= balance %></p>
	</td>
	<td width="47" style="border:1px solid black">
	<p  style="font-size:12px;font-family:Times New Roman"><%= 100-recoveredpercent %></p>
	</td>
		<% if key== "Ecart (en moins) d'inventaire" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">[ inventaire physique < inventaire théorique ]</p></td>
		<% end %>
		<% if key== "Ecart (en plus) de trésorerie" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">[solde physique > solde théorique ]</p></td>
		<% end %>
		<% if key== "Ecart (en plus) d'inventaire" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">[solde physique > solde théorique ]</p></td>
		<% end %>
		<% if key== "Ecart (en moins) de trésorerie" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">[solde physique < solde théorique ]</p></td>
		<% end %>
		<% if key== "Ecart d'enregistrement" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
			Différences entre montants provenant de différentes sources, internes et/ou externes (autres que bancaires), sensées enregistrer les mêmes données pour les mêmes périodes
			</p></td>
		<% end %>
		<% if key== "Manque à gagner" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
			Gains potentiels non réalisés (Non réalisation d'économies potentielles)
			</p></td>
		<% end %>
		<% if key== "Dépenses non autorisées" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
				Dépenses sans les habilitations nécessaires
			</p></td>
		<% end %>
		<% if key== "Non exhaustivité des dépenses" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
			Dépenses non comptabilisées
			</p></td>
		<% end %>
		<% if key== "Réalité des dépenses (Dépenses fictives)" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
			Dépenses sans contrepartie réel
			</p></td>
		<% end %>
		<% if key== "Valeur (exactitude) des dépenses" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
				Erreurs et inexactitudes sur le montant des dépenses
			</p></td>
		<% end %>
		<% if key== "Suppléments de coûts" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
			Augmentation anormale des coûts
			</p></td>
		<% end %>
		<% if key== "Mesure (période de la dépense)" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
			Montant non comptabilisé dans la bonne période
			</p></td>
		<% end %>
		<% if key== "Recettes non autorisées" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
			Traitement incomplet des recettes
			</p></td>
		<% end %>
		<% if key== "Non exhaustivité des recettes" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
			Recettes non comptabilisées
			</p></td>
		<% end %>
		<% if key== "Créances" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
			Sommes dues à l'entité par des tiers
			</p></td>
		<% end %>
		<% if key== "Dettes" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
			Sommes dues par l'entité à des tiers
			</p></td>
		<% end %>
		<% if key== "Appartenance" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
			Valeur des biens dont l'appartenance à l'Entité auditée n'est pas prouvée
			</p></td>
		<% end %>
		<% if key== "Droits compromis" %>
			<td width='276' style="border:1px solid black"><p  style="font-size:12px;font-family:Times New Roman">
			Sommes d'argent revenant de droit à l'Etat et/ou autre Collectivité mais devenues aléatoires
			</p></td>
		<% end %>
	</tr>
<% end %>
</tbody>
</table>
	<!-- End Page 9-->
	<br clear=all style='page-break-before:always; mso-break-type:section-break'> 
</div>

<div class=portrait_A4_page>
  <span class=normal>
  <!--  Page 11 -->
    <p style="font-family:Times New Roman; font-size:19px">Comme indiqu&eacute; dans le tableau pr&eacute;c&eacute;dent, les irr&eacute;gularit&eacute;s chiffr&eacute;es sont multiformes. Cette diversit&eacute; explique qu&rsquo;on ne peut pas les ajouter les unes aux autres pour tirer des totaux par colonne et d&eacute;gager ainsi un taux global de r&eacute;gularisation. Aussi, elle impose des modes diff&eacute;rents de r&eacute;gularisations propres &agrave; chaque cas. C&rsquo;est ainsi qu&rsquo;il pourrait s&rsquo;agir, entre autres proc&eacute;d&eacute;s de r&eacute;gularisation, de&nbsp;:</p>
<ul>
<li style="font-family:Times New Roman; font-size:19px">produire les pi&egrave;ces justificatives comptables requises&nbsp;;</li>
<li style="font-family:Times New Roman; font-size:19px">apporter la preuve mat&eacute;rielle de la contrepartie d&rsquo;une d&eacute;pense (preuve de la r&eacute;alisation et de la r&eacute;ception de l&rsquo;objet de la d&eacute;pense)&nbsp;;</li>
<li style="font-family:Times New Roman; font-size:19px">corriger des enregistrements comptables en les rendant conformes &agrave; la norme requise&nbsp;;</li>
<li style="font-family:Times New Roman; font-size:19px">recouvrer (r&eacute;cup&eacute;rer, encaisser) des sommes d&rsquo;argent aupr&egrave;s de personnes (physiques ou morales) en cause&nbsp;;</li>
<li style="font-family:Times New Roman; font-size:19px">rembourser (payer, d&eacute;caisser) des sommes d&rsquo;argent &agrave; des personnes (physiques ou morales) ayant droit&nbsp;;</li>
<li style="font-family:Times New Roman; font-size:19px"></li>
</ul>
<p style="font-family:Times New Roman; font-size:19px">Ainsi, toute r&eacute;gularisation d&rsquo;un constat d&rsquo;audit ayant une incidence financi&egrave;re d&eacute;finie ne se traduit pas obligatoirement par un mouvement de flux financiers (paiements ou encaissements de sommes d&rsquo;argent).</p>
<p style="font-family:Times New Roman; font-size:19px"><strong><u><br /> </u></strong></p>
<p style="font-family:Times New Roman; font-size:19px"><strong><u>&nbsp;</u></strong></p>
 <!-- End Page 11 -->
  </span>   
  
<br clear=all style='page-break-before:always; mso-break-type:section-break'> 
</div> 
<div class=portrait_A4_page>
  <span class=normal>
  <!--  Page 12 -->
    
<p style="font-family:Times New Roman; font-size:19px">II.<strong><u>CONCLUSIONS</u></strong></li>

<p style="font-family:Times New Roman; font-size:19px">&nbsp;</p>
<p style="font-family:Times New Roman; font-size:19px">L&rsquo;analyse des situations de mise en &oelig;uvre des recommandations formul&eacute;es par les structures de contr&ocirc;le en (ann&eacute;e <%= params[:year] %> ) a r&eacute;v&eacute;l&eacute; que&nbsp;sur la base de <b> <%= @counts[:recommendation_count] %> </b>recommandations dont suite a &eacute;t&eacute; donn&eacute;e au CGSP&nbsp;:</p>
<ul>
<li style="font-family:Times New Roman; font-size:19px"><strong><%= @counts[:executed_status_count].to_i+@counts[:in_progress_status_count].to_i %></strong> recommandations sont ex&eacute;cut&eacute;es (totalement ou en cours), soit <strong><%= executed_percent+in_progress_percent %>%&nbsp;</strong>;</li>
<li style="font-family:Times New Roman; font-size:19px"><strong><%= @counts[:not_executed_status_count] %> </strong>recommandations ne sont pas ex&eacute;cut&eacute;es, soit <strong><%= not_executed_percent  %>%</strong>.</li>
</ul>
<p style="font-family:Times New Roman; font-size:19px">&nbsp;</p>
<p>&nbsp;</p>
 <!-- End Page 12 -->
  </span>   
  
<br clear=all style='page-break-before:always; mso-break-type:section-break'> 
</div> <div class=portrait_A4_page>
  <span class=normal>
  <!--  Page 13 -->
    <p style="font-family:Times New Roman;font-size:49px">ANNEXES&nbsp;:</p>
<p>&nbsp;</p>
<p style="font-family:Times New Roman; font-size:19px">I. Liste des recommandations dont l&rsquo;&eacute;tat de mise en &oelig;uvre n&rsquo;est pas parvenu au CGSP</p>
<p style="font-family:Times New Roman; font-size:19px">II. Liste des recommandations ex&eacute;cut&eacute;es</p>
<p style="font-family:Times New Roman; font-size:19px">III. Liste des recommandations en cours</p>
<p style="font-family:Times New Roman; font-size:19px">IV. Liste des recommandations non ex&eacute;cut&eacute;es</p>
 <!-- End Page 13 -->
  </span>   
	</div> 
	</div>
</div>
</div>