<div class="card">
  <div class="card-body">
    <%= form_tag '/reports/recommendations/category', :method => :get do %>
      <div class="form-row">
        <div class="form-group col-md-5">
          <%= label_tag  t('activerecord.attributes.audit_report.year') %><br>
          <%= select_tag "year", options_for_select(Time.new.year-5..Time.new.year+5, params[:year]), include_blank: t('navigation.all'), class: 'form-control' %>
        </div>
        <div class="form-group col-md-6">
          <%= label_tag  t('activerecord.attributes.recommendation.status') %><br>
          <%= select_tag "status", options_for_select(RecommendationStatus.to_option_values, params[:status]), include_blank: t('navigation.all'), class: 'form-control' %>
        </div>
        <div class="form-group col-md-1">
          <%= label_tag  t('navigation.filter') %><br>

          <button class='btn btn-primary form-control'>
            <i class="fa fa-filter"></i>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br />

<div class="card">
  <div class="card-body">
    <div class="text-right">
      <a href=<%="/reports/recommendations/category/summary?year="+params[:year].to_s+"&status="+params[:status].to_s+"&format=xlsx"%>><button class="btn btn-success"><%=t('reports.export_summary') %></button></a>
      <a href=<%="/reports/recommendations/category/csv?year="+params[:year].to_s+"&status="+params[:status].to_s%>><button class="btn btn-success"><%=t('reports.export') %></button></a>
      </div>
    <h5 class="card-title"><%= t('reports.recommendation_categories') %></h5>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th><%=t('activerecord.attributes.recommendation.title') %></th>
            <th><%=t('activerecord.attributes.audit_report.year') %></th>
            <th><%=t('activerecord.attributes.recommendation.cost') %></th>
            <th><%=t("activerecord.attributes.recommendation.recovered") %></th>
            <th><%=t('activerecord.attributes.recommendation.status') %></th>
            <th><%=t("activerecord.models.category") %></th>
            <th><%=t("activerecord.models.category") %></th>
            <th><%=t('activerecord.attributes.audit_report.control_organization') %></th>
            <th><%=t('activerecord.models.ministry') %></th>
            <th><%=t('activerecord.attributes.audit_report.verified_organization') %></th>
          </tr>
        </thead>
        <tbody>
        <% @recommendations.each do |r| %>
          <tr>
            <td><%= r.title %></td>   
            <td><%= r.year %></td>  
            <td><%= r.cost %></td> 
            <td><%= r.recovered %></td> 
            <td><%= r.recommendation_status_name %></td>    
            <td><%= r.root_category_name %></td> 
            <td><%= r.category_name %></td>    
            <td><%= r.control_organization %></td>  
            <td><%= r.verified_ministry %></td>  
            <td><%= r.verified_organization %></td>  
             
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>