<div class="card">
  <div class="card-body">
    <%= form_tag '/reports/categories/rootstatus', :method => :get do %>
      <div class="form-row">
        <div class="form-group col-md-11">
          <%= label_tag  t('activerecord.attributes.audit_report.year') %><br>
          <%= select_tag "year", options_for_select(Time.new.year-5..Time.new.year+5, params[:year]), include_blank: t('navigation.all'), class: 'form-control' %>
        </div>
        <div class="form-group col-md-1">
          <%= label_tag  t('navigation.filter') %><br>

          <button class='btn btn-primary form-control'>
            <i class="fa fa-filter"></i>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br />

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t('reports.category_by_root_status') %></h5>
    <div class="text-right"><a href=<%="/reports/categories/rootstatus/summary?year="+params[:year].to_s+"&format=xlsx"%>><button class="btn btn-success"><%=t('reports.export_summary') %></button></a> &nbsp;
    <a href=<%="/reports/categories/rootstatus/csv?year="+params[:year].to_s%>><button class="btn btn-success"><%=t('reports.export') %></button></a></div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          <%= t('reports.table') %>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <%= react_component('SortableTable',
          {data: @categories[:data], 
            columns: @categories[:columns]}) %>
      </div>
    </div>
  </div>
</div>