<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AuditTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

  </head>

  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <% if current_page?(audit_reports_path) || current_page?('/')%>active<% end%>">
            <%= link_to(t('navigation.audit_reports'), audit_reports_path, method: :get, class: "nav-link") %>
          </li>
          <% if current_user.admin? || current_user.restricted_user? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('navigation.reports') %></a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <%= link_to(t('reports.ministry_verified_structure_aggregates'), '/reports/ministries/verified', method: :get, class: "dropdown-item", id: "ministry_verified_structure_aggregates") %>
                <%= link_to(t('reports.organization_control_structure_aggregates'), '/reports/organizations/control', method: :get, class: "dropdown-item", id: "organization_control_structure_aggregates") %>
                <%= link_to(t('reports.organization_verified_structure_aggregates'), '/reports/organizations/verified', method: :get, class: "dropdown-item", id: "organization_verified_structure_aggregates") %>
                <%= link_to(t('reports.category_by_root_status'), '/reports/categories/rootstatus', method: :get, class: "dropdown-item", id: "category_by_root_status") %>
                <%= link_to(t('reports.recommendation_categories'), '/reports/recommendations/category', method: :get, class: "dropdown-item", id: "recommendation_categories") %>
                <%= link_to(t('navigation.recommendations'), recommendations_path, method: :get, class: "dropdown-item", id: "recommendation") %>
         
                </div>
            </li>
            <% else %>
            <li class="nav-item <% if current_page?(recommendations_path) %>active<% end%>">
            <%= link_to(t('navigation.recommendations'), recommendations_path, method: :get, class: "nav-link") %>
          </li>
          <% end%>
        </ul>
      </div>
      <ul class="navbar-nav px-3">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('navigation.administration') %></a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <%= link_to(t('navigation.profile'), user_path(current_user), method: :get, class: "dropdown-item", id: "userProfile") %>
            <% if current_user.admin?%>
              <%= link_to(t('navigation.users'), users_path, method: :get, class: "dropdown-item", id: "userManagement") %>
              <%= link_to(t('navigation.audit_types'), audit_types_path, method: :get, class: "dropdown-item", id: "auditTypeManagement") %>
              <%= link_to(t('navigation.recommendation_statuses'), recommendation_statuses_path, method: :get, class: "dropdown-item", id: "recommendationStatusManagement") %>
              <%= link_to(t('navigation.categories'), categories_path, method: :get, class: "dropdown-item", id: "categoryManagement") %>
              <%= link_to(t('navigation.ministries'), ministries_path, method: :get, class: "dropdown-item", id: "ministryManagement") %>
              <%= link_to(t('navigation.organizations'), organizations_path, method: :get, class: "dropdown-item", id: "organizationManagement") %>
              <%= link_to(t('navigation.regions'), regions_path, method: :get, class: "dropdown-item", id: "regionManagement") %>
              <%= link_to(t('navigation.exports'), '/reports/exports', method: :get, class: "dropdown-item", id: "exportsManagement") %>
            <% end%>
          </div>
        </li>
        <li class="nav-item text-nowrap">
          <%= link_to(t('auth.logout'), destroy_user_session_path, method: :delete, class: "nav-link", id: "logout") %>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <main role="main" >
        <% flash.each do |message_type, message| %>
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
        <%= yield %>
      </main>
    </div>
    <br /> &nbsp;
  </body>
</html>
