<!DOCTYPE html>
<html>
  <head>
    <title>AuditTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="container">
    <% flash.each do |message_type, message| %>
      <% if message_type != "timedout" %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
